html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

main {
    padding-bottom: 10px;
}


header {
    background-color: #674799;
}

section {
    padding: 0 5px;
}

.LOGO {
    width: 170px;
    height: 80px;
}



.CHWA {
    width: 100%;
    height: 100%;
}

header a {
    text-decoration: underline;
    width: auto;

}

header ul li a {
    font-size: 20px;
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

header ul li a:link {
    color: white
}

header ul li a:visited {
    color: white
}

.nav-item {
    display: flex;
    align-items: center;
}

.navbar-nav text {
    color: white;
    font-size: 25px;
}

.navbar-nav .signout {
    margin-left: 20px;
    width: 100px;
    background-color: red;
}



.pandect {
    height: 260px;
}

.pandect span {
    margin-left: 15px;
}

.pandect span p {
    font-size: 19px;
    color: blue;
}

.pandect .grade {
    border: 2px solid black;
    width: 350px;
    height: auto;
    position: relative;
    margin-left: 15px;
}

.subject-tests {
    position: relative;
    top: -12px;
    background-color: white;
    width: 120px;
    margin: 0 0 0 25px;
}

.grade ul li {
    list-style-type: none;
    /* background-color: white; */
    width: 100%;
}

.list {
    /* background-color: blue; */
    height: 235px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    display: grid;
    grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1.5fr;
    align-items: flex-end;
}

.list .box {
    padding: 0 5px;
}

.item-list {
    padding: 0px 5px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

/*模擬考*/
.practice-exam {
    height: 190px;
    /* background-color: brown; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    border: 2px solid black;
}

.practice-exam .title {
    width: 100%;
    /* width: 180px; */
    background-color: #ADADAD;
    display: flex;
    justify-content: center;
}

/*報表編號*/
.report-number {
    height: 190px;
    /* background-color: brown; */
    /* width: 350px; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.report-number .title {
    width: 100%;
    /* width: 180px; */
    background-color: #ADADAD;
    display: flex;
    justify-content: center;
}

/* 班級 */
.class {
    height: 190px;
    /* background-color: brown; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.class .title {
    width: 100%;
    /* width: 180px; */
    background-color: #ADADAD;
    display: flex;
    justify-content: center;
}

/*類組*/
.kind-group {
    height: 190px;
    /* background-color: brown; */
    /* width: 200px; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.kind-group .title {
    width: 100%;
    /* width: 180px; */
    background-color: #ADADAD;
    display: flex;
    justify-content: center;
}

/*考試科目*/
.test-suject {
    height: 190px;
    /* background-color: brown; */
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.test-suject .title {
    width: 100%;
    /* width: 180px; */
    background-color: #ADADAD;
    display: flex;
    justify-content: end;

}

.test-suject .title p {
    width: 60%;
    text-align: right;
}

.test-suject .title i {
    width: 40%;
    color: red;
    text-align: right;
    font-weight: 800;
}

.test-sujectarea {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}


.test-sujectarea a {
    height: 68px;
    background-color: #ADADAD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 4px;
    width: 80px;
    font-weight: 800;
}

.test-sujectarea a:after {
    background-color: #ADADAD;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
}

/*table*/

.table_outer {
    width: 100%;
}

.table_scroll {
    width: 1850px;
    overflow: hidden;
    overflow-x: auto;

}


/*格行換色*/
table tr th {
    height: 28px;
    line-height: 28px;
    background: #f0f7ff;
}

thead {
    background-color: #84C1FF;
}

.fht-cell {
    width: 120px !important;
    overflow: hidden;
}

table tr td {
    height: 28px;
    max-width: 120px !important;
    overflow: hidden;
    /*隐藏超出最大宽度的文本*/
    white-space: nowrap;
    /*防止文本换行*/
    text-overflow: ellipsis;
}

td:hover {
    max-width: none;
    /*显示全部文本*/
    overflow: visible;
    /*显示全部文本*/
    white-space: normal;
    /*允许文本换行*/
    text-overflow: unset;
    /*取消省略号*/
}

table tbody tr:nth-child(odd) {
    background-color: #d2e8ff;
}

table tbody tr:hover {
    background-color: #9393FF !important;
}

td:first-child,
th:first-child {

    position: sticky;

    left: 0;
    /* 首行永遠固定於左 */

    z-index: 1;

    background-color: #84C1FF;

}

td,
th {
    text-align: center;
}






@media screen and (max-width:1200px) {
    text {
        display: none;
    }
}

@media screen and (max-width:1460px) {
    .item {
        display: flex;
        flex-direction: column;
    }

    .pandect {
        padding: 0 0 10px 0;
        max-width: 100% !important;
        width: 1460px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
    }

    .list {
        width: 1460px;
        max-width: 100% !important;
        display: grid;
        grid-template-columns: 1.2fr 1.5fr 1fr 1fr 1.5fr;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width:1340px) {
    .list .box:nth-child(1) {
        width: 170px;
    }

    .list .box:nth-child(2) {
        width: 350px;
    }

    .list .box:nth-child(3) {
        width: 170px;
    }

    .list .box:nth-child(4) {
        width: 170px;
    }

    .list .box:nth-child(5) {
        width: 350px;
    }

    .list {
        overflow: hidden;
        overflow-x: auto;
        justify-content: none !important;
    }
}